---
import Navigation from './Navigation.astro';
---

<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  </style>

<nav>
    <Navigation lien="" label="Home" />
    <Navigation lien="about" label="About Me" />
    <Navigation lien="blog" label="Blog" />
    <!-- <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a> -->
</nav>