---
const { lien, label } = Astro.props;
---
<div class="nav-links">
    <!-- <a href={`/${lien}`}>{label}</a> -->
    
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
</div>